{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-object-assign",
    "external-helpers"
  ],
  "comments": false
}


